body {
  background-color: #444;
  background-image: url(68fef225633ecaafcd3c8f12c61616f3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

